.ChannelPanelContainer {
  background-color: #2f3136;
  min-width: 240px;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.ChannelsContainer {
  width: 100%;
}

.UserPanelContainer {
  width: 100%;
  height: auto;
  display: flex;
}

.UserPanel {
  width: 100%;
  height: 52px;
  background-color: #292b2f;
}

.ServerHeaderContainer {
  height: 48px;
  box-sizing: border-box;
  box-shadow: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  padding: 0 16px;
}

.ServerHeader {
  color: white;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 15px;
}

.ChannelIcon {
  margin-right: 6px;
  color: rgb(142, 146, 151);
}

.ChannelItem {
  align-items: center;
  padding: 10px;
  height: 100%;
}

.ProfilePic {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: all 0.25s;
  padding-right: 5px;
}

.ProfilePic:hover {
  opacity:0.5;
}

.ChannelPanelDropdown {
  width: 220px;
  height: auto;
  background-color: #18191c;
  padding-bottom: 10px;
}

.InfoPopupItem {
  padding: 5px 10px 0px 10px;
}

.InfoPopupTitle {
  align-items: center;
}

.InfoPopupSubText {
  padding: 5px 10px 0px 15px;
}