.ServerBubble {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: all 0.25s;
}

.ServerBubble:hover {
  opacity: 1;
  border-radius: 35%;
}