.ServerBubble {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  opacity: 0.6;
  transition: all 0.5s;
  animation-name: hoverAnim;
}

.ServerBubble:hover {
  opacity: 1;
  animation: hoverAnim left-to-right 0.5s ease-in forwards;
}

@keyframes hoverAnim {
  100% {
    border-radius: 90%;
  }
}